/* css reset */
* {
    box-sizing: border-box;
}

/* body default style */
body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

/* header with logo */
header {
    position: absolute;
    top: 10%;
    left: 10%;
}

/* main section */
main {
    display: flex;
    justify-content: space-between;

}

/* heroimage for mobile default style */
.heroimage {
    /* background-image: url(images/hero-mobile.jpg); */
    background-repeat: no-repeat;
    background-size: contain;
    /* opacity: 0; */

}

/* cotent of hero section */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    padding-left: 2rem;
    margin-top: -2rem;
    background-image: url(images/bg-pattern-desktop.svg);


}

.content__para {
    width: 500px;
    line-height: 1.5;
    color: hsl(0, 36%, 70%);
    margin: 1rem;
    margin-top: -1rem;
    margin-left: 7rem;
}

span {
    font-weight: 300;
    color: hsl(0, 36%, 70%);

}

.content__title {
    font-size: 4rem;
    line-height: 1;
    font-weight: 600;

    text-transform: uppercase;
    color: hsl(0, 6%, 24%);
}

/* call to action styling */
.cta {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    margin-left: 5rem;
    align-self: flex-start;
}

/* input style */
.cta__input {

    /* did not use shot hand property onpurpose */

    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 5rem;
    border-radius: 1000px;
    border: none;
    border: 1px solid hsl(0, 36%, 70%);
    width: 100%;
    color: hsl(0, 36%, 70%);
    font-size: inherit;

    outline: none;
}

.cta__input:focus {
    box-shadow: 0 0 8px hsl(0, 36%, 70%);
}

/* button style in call to action */

.cta__button {
    padding: .7rem 2rem;
    border: none;
    margin-left: -3rem;
    border-radius: 1000px;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border-color: hsl(0, 36%, 70%);
    border: 1px solid hsl(0, 36%, 70%);

    cursor: pointer;
}

.cta__button:hover,
.cta__button:focus {
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 64%));
    box-shadow: 0 0 8px hsl(0, 36%, 70%);

}

/* hidden error section */
.error {
    display: flex;
    align-items: center;
    align-self: flex-start;
    margin-left: 7rem;
    opacity: 0;

}

.error p {
    margin: 1rem;
    color: hsl(0, 93%, 68%);

}

/* error message to show */
.error--opacity1 {
    opacity: 1;
}

/* media query start */
@media only screen and (max-width: 860px) {

    header {
        position: static;
        padding: 2rem;
    }

    main {
        flex-direction: column-reverse;
        align-items: center;

    }

    body {
        overflow-x: hidden;
    }

    .content {
        flex-direction: column;
        align-items: center;
        margin: 1rem;
        text-align: center;
        width: 375px;
        background-position-y: -100px;
        padding: 0%;

    }

    .content__para {
        margin: 0%;
        width: 350px;
    }

    /* displaying hero image as background */
    .heroimage {
        background-image: url(images/hero-mobile.jpg);
        opacity: 1;
        width: 370px;
        height: 250px;
    }

    /* hiding already existing image */
    .heroimage--displayNone {
        display: none;
    }

    .content__title {
        font-size: 3rem;
        width: 375px;
        margin: 1rem 2rem;
    }

    .cta__input {
        padding: 1rem 1.5rem;
    }

    .cta {
        align-self: center;
        margin-left: 0%;
    }

    .error {
        align-self: center;
        margin-left: 0%;
    }
}
